  .form{
    text-align:left;
  }
  .form button {
    display: flex;
    font: inherit;
    cursor: pointer;
    background-color: #1b093a;
    border: 1px solid #1b093a;
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 10px;
    font-weight: bold;
  }

  .form button:hover,
  .form button:active {
    background-color: #1b093a;
    border-color: #1b093a;
  }
  .controls {
    display: flex;
  }
